<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rabidllamastudios.avigate" >

    <!-- GPS permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Network state permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Write permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Wake lock permission -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".AvigateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplaySensorActivity"
            android:label="@string/title_activity_display_sensor"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rabidllamastudios.avigate.MainActivity" />
        </activity>
        <activity
            android:name=".ConnectivityTestActivity"
            android:label="@string/title_activity_connectivity_test"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rabidllamastudios.avigate.MainActivity" />
        </activity>

        <!-- MqttService -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
            android:name=".FlightVisualizer"
            android:label="@string/title_activity_flight_visualizer"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rabidllamastudios.avigate.MainActivity" />
        </activity>
        <activity
            android:name=".CraftActivity"
            android:label="@string/title_activity_craft"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rabidllamastudios.avigate.MainActivity" />
        </activity>
        <activity
            android:name=".ControllerActivity"
            android:label="@string/title_activity_controller"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rabidllamastudios.avigate.MainActivity" />
        </activity>
    </application>

</manifest>
